@font-face {
    font-family: 'lucida-bright';
    src: url('../fonts/lucida-bright.woff2') format('woff2'),
         url('../fonts/lucida-bright.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
body{
	background-image: url(../images/crinkle_paper_bg.jpeg);
	font-family: "gotham", sans-serif;
	font-weight: 400;
	font-style: normal;
	scroll-behavior: smooth;
	color: #325e5b;
}
.container {
	width: 978px;
	margin-left: auto;
	margin-right: auto;
}
.flex{
	display:flex;
}
.block{
	display:block;
}
.desc1{
	font-family: 'Lucida Bridge', Georgia, 'Times New Roman', Times, serif;
}
.desc2{
	font-family: 'dico-code-two', mono;
	font-weight: 400;
	font-style: normal;
}
.desc3{
	font-family: 'segoe-script', sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1{
	font-size: 82px;
	margin-bottom: 30px;
}
header{
	width:100%;
	height:148px;
	background-size: cover;
	background-image: url(../images/torn-paper-header.webp);
	display:flex;
	position: fixed;
	z-index: 5;
}
header .logo{
	background-image: url(../images/logo-full-color.svg);
	width:238px;
	height: 77px;
	margin-top: 10px;

}
header nav a{
	font-size: 18px;
	margin-right: 30px;
}
header nav{
	margin-left: auto;
	margin-top: 30px;
	height: fit-content;
}
nav a:nth-of-type(3n){
	margin-right:0px;
}
h2{
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 30px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #325e5b;
	color:rgba(0,0,0,0)
}
h3{
	font-size: 24px;
	margin-bottom: 30px;
	text-align: center;
	flex:1;

}
h4{
	font-size:16px;
	margin-bottom: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.hero{
	margin-top: 232px;
	margin-bottom: 84px;
	width: 100%;
	height: 314px; 
	align-items: center;
}
.hero .cls-1{
	fill: #325e5b;
}
.pointer{
	position:absolute;
	top: -45px;
	right: 510px;
	width: 217px;
	height: 219px;

}
.ux-pointer{
	position: relative;
}
.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.right{
	margin-left: auto;
}
.splash a{
	width:222px;
	height: 54px;
	background-color: #170A1C;
	color:#325e5b;
	font-size: 24px;
	text-align: center;
	align-self: center;

}
.aboutbutton{
	width:100%;
	display: flex;
	align-items: center;
}
.about p{
	font-size:18px;
	width:558px;
	margin-bottom: 30px;
	color:#170A1C;
}
.about{
	display: flex;
	align-items: center;
}
footer{
	/* background-color: #0B7189; */
	height: 449px;
	width: 100%;
	background-size: cover;
	background-image: url(../images/torn-paper-footer-2.webp);
	font-size:24px;
	padding-top: 184px;
}
footer a{
	display: block;
	margin-right:30px;
	font-size: 18px;
}
.logofooter{
	background-image: url(../images/logo-square.svg);
	width: 153px;
	height: 165px;
	margin-right: 30px;
}
.project{
	height: 558px;
	padding-top:84px;

}
.project p{
	width: 475px;

}
footer{
	color:#170A1C
}
footer h3{
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}
footer h4{
	margin-bottom: 20px;
	font-size: 16px;
}
a{
	color:#0a211f;
	margin-top: 10px;
}
a:hover{
	color: #6c23f7;
}
.github{
	background-image: url(../images/github-icon.svg);
	width:36px;
	height:36px;
	background-size: contain;
}
.linkedin{
	background-image: url(../images/linkedin-icon.svg);
	width:36px;
	height:36px;
	background-size: contain;
}
.insta{
	background-image: url(../images/insta-icon.svg);
	width:36px;
	height:36px;
	background-size: contain;
}
.email{
	background-image: url(../images/email-icon.svg);
	width:36px;
	height:36px;
	background-size: contain;
}

.esqimg{
	background-image: url("../images/RunningPoster_V4_Alex.png");
	width:474px;
	height:275px;
	background-size: cover;
	color: rgba(0,0,0,0);
}
.kintsugiimg{
	background-image: url("../images/Kintsugi-Screenshot.webp");
	width:474px;
	height:275px;
	background-size: cover;
	color: rgba(0,0,0,0);
}
.popartimg{
	background-image: url("../images/Pop-Art-AD.webp");
	width:474px;
	height:275px;
	background-size: cover;
	color: rgba(0,0,0,0);
}
.sisimg{
	background-image: url("../images/SIS-UX.webp");
	width:474px;
	height:220px;
	background-size: cover;
	color: rgba(0,0,0,0);
}
.projectstext{
	margin-top: 232px;
	margin-bottom: 84px;
	width: 100%;
	height: 104px; 
	align-items: center;
}
.resumetext{
	margin-top: 232px;
	margin-bottom: 84px;
	width: 100%;
	height: 110px; 
	align-items: center;
}
/* .resumetext .cls-1{
	fill: #325e5b;
} */
