body{
	background-color: #FEECEC;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	scroll-behavior: smooth;
}
.container {
	width: 978px;
	margin-left: auto;
	margin-right: auto;
}
.flex{
	display:flex;
}
.block{
	display:block;
}
.white{
	color:#FEECEC;
}
.purple{
	color:#9C95DC;
}
.sage{
	color:#ACAD94;
}
.blue{
	color:#0B7189;
}
.darkpurple{
	color:#170A1C;
}
h1{
	font-size: 82px;
	margin-bottom: 30px;
}
header{
	width:100%;
	height:65px;
	background-color: #0B7189;
	display:flex;
	align-items: center;
	position: fixed;
}
header h1{
	font-size: 32px;
	color:#170A1C;
	margin-bottom: 0px;
}
header nav a{
	font-size: 18px;
	margin-right: 30px;
}
header nav{
	margin-left: auto;
}
nav a:nth-of-type(3n){
	margin-right:0px;
}
h2{
	font-size: 48px;
	margin-bottom: 30px;
}
li h3{
	font-size: 24px;
	margin-bottom: 30px;
	text-align: right;
}
.splash{
	height: 584px;
	background-color: #9C95DC;
	display: flex;
	align-items: center;
}
.right{
	margin-left: auto;
}
.splash a{
	width:222px;
	height: 54px;
	background-color: #170A1C;
	color:#0B7189;
	font-size: 24px;
	text-align: center;
	align-self: center;

}
.aboutbutton{
	width:100%;
	display: flex;
	align-items: center;
}
.about p{
	font-size:18px;
	width:558px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about{
	height: 584px;
	display: flex;
	align-items: center;
}
footer{
	background-color: #0B7189;
	height: 224px;
	font-size:24px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding-top: 30px;
}
footer a{
	display: block;
	margin-right:30px;
	font-size: 18px;
}
.project{
	height: 558px;
	padding-top:84px;

}
.project p{
	width: 475px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h3{
	margin-bottom: 10px;
}